name: formatting
on:
  pull_request:
  push:
    branches: [master]

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: cargo fmt
        run: |
          rustup component add rustfmt
          cargo fmt --all -- --check
